.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
}

img {
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) and (min-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 33.33vw 33.33vw 33.33vw;
    grid-template-rows: auto;
  }
}

@media (max-width: 400px) {
    .container {
      display: grid;
      grid-template-columns: 50vw 50vw;
      grid-template-rows: auto;
    }
  }
  
