.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  text-align: center;
  font-weight: bolder;
}

.rating {
  text-align: center;
  font-weight: bolder;
  color: green;
}

.reviewCount {
  text-align: center;
}

.rateWin {
  text-align: center;
}

.reviewCount a,
.rateWin a {
  text-decoration: none;
}
.upload {
  height: 30px;
}

.upload button {
  background-color: green;
  border-radius: 5px;
  height: 150%;
  color: white;
  border-color: green;
}

.overview {
}

#hr1,
#hr2,
#hr3 {
  display: inline-block;
}

#hr1 {
  width: 2%;
  background-color: gray;
  height: 1px;
}
#hr2 {
  width: 7%;
  height: 1px;
  background-color: red;
}
#hr3 {
  height: 1px;
  background-color: gray;
  width: 85%;
}

.preview {
  text-align: center;
}
.preview img {
  height: 500px;
  width: 500px;
}
.images {
  text-align: center;
}

.images img {
  height: 50px;
  width: 50px;
}

#prevImage {
  display: inline;
  margin: 0;
  position: relative;
  top: 50%;
}

#nextImage {
  display: inline;
  margin: 0;
  position: relative;
  top: 50%;
}

#currentImage {
  display: inline;
}

.prevNextIcon {
  font-size: 48px;
  color: red;
}
